.calendar {
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#calendar-header{
    font-size: 200%;
    margin-bottom: 30px;
}
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.date {
    height: 120px;
    border: 1px solid #eee;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 10px;
}

.date:hover {
    background-color: #f8f8f8;
}